{% extends 'base.html.twig' %}

{% block title %}Catalogue
{% endblock %}

{% block body %}
	<h1 class="text-center m-5">Catalogue</h1>

	<div class="container">
		<div class="row justify-content-center">
			{% for wine in wines %}
				{% include "shared/_wine_card.html.twig" %}
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</div>
	</div>
{% endblock %}
