<footer
	class="text-center bg-primary container-fluid">
	<!-- Grid container -->
	<div
		class="container p-2 pb-0">
		<!-- Section: Social media -->
		<section
			class="mb-2">
			<!-- Facebook -->
			<a class="btn btnDM btn-floating m-1" href="https://www.facebook.com/" role="button">
				<i class="bi bi-facebook"></i>
			</a>
			<!-- Twitter -->
			<a class="btn btnDM btn-floating m-1" href="https://twitter.com" role="button">
				<i class="bi bi-twitter"></i>
			</a>
			<!-- Instagram -->
			<a class="btn btnDM btn-floating m-1" href="https://www.instagram.com" role="button">
				<i class="bi bi-instagram"></i>
			</a>
		</section>
	</div>
	<!-- Copyright -->
	<div class="text-center p-2 copyright">
		<p class="textDM">
			© 2023 Copyright:
			<a class="textDM" href="https://www.wildcodeschool.com/fr-FR">Wild Code School 2023</a>
			WorldWildWeb
		</p>
	</div>
</footer>
